[submodule "3rdparty/jwt-cpp"]
	path = 3rdparty/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "libs/twig"]
	path = libs/twig
	url = git@github.com:malasiot/twig.git
[submodule "app/xdb"]
	path = app/xdb
	url = git@github.com:malasiot/xdb.git
