{% extends 'base.html.twig' %}

{% block title %}{{ 'dashboard.title'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
<a href="/admin/upload/">{{'dashboard.upload' | trans}}</a>
{% endblock %}